/* Largo essentials */
/**
 * @group Color
 * @label Base Color (used for navbar, widget titles, etc.)
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Header/Footer Color
 * @type color
 * @default_value #222
 */
/**
 * @group Color
 * @label Pre-Footer Color
 * @type color
 * @default_value #ddd
 */
/**
 * @group Color
 * @label Color of links
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Hover color of links
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Background color of post meta boxes (author bio, related posts, etc.)
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Body Background Color
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Page Background Color
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Text Color
 * @type color
 * @default_value #333
 */
/**
 * @group Basics
 * @label Default Vertical Spacing
 * @type pixels
 * @default_value 24px
 */
/**
 * @group Typography
 * @label Sans Font Family
 * @type text
 * @default_value "Helvetica Neue", Helvetica, Arial, sans-serif
 */
/**
 * @group Typography
 * @label Serif Font Family
 * @type text
 */
/**
 * @group Typography
 * @label Base Font Size
 * @type pixels
 */
/**
 * @group Typography
 * @label Sans Font Family
 * @type dropdown
 * @options @serifFontFamily|@sansFontFamily
 * @default_value @serifFontFamily
 */
/**
 * @group Typography
 * @label Base Line Height
 * @type text
 * @default_value 1.5
 */
/* Custom CPIPR variables */
#site-header {
  margin: 0;
}
#site-header img {
  margin: 0;
}
.widgettitle,
.widget.rev .widgettitle,
.stories h3.widgettitle {
  background-color: #d45f34;
  color: #fff;
  padding: 5px 10px;
}
.widgettitle a,
.widget.rev .widgettitle a,
.stories h3.widgettitle a {
  color: #fff;
}
.widget.rev {
  background-color: #333;
}
#sidebar .widget {
  padding: 24px 0;
}
.before-footer-wrapper {
  background-color: #fff;
  border-top: 1px solid #ccc;
  margin-top: 40px;
  padding-top: 48px;
}
@media (max-width: 640px) {
  .before-footer-wrapper {
    display: none;
  }
}
#before-footer {
  overflow: hidden;
}
#before-footer aside {
  float: left;
  margin: 0 2.5% 24px;
  width: 15%;
  min-height: 100px;
}
#before-footer aside img {
  width: 100%;
  max-height: 100px;
}
/*
 * Styles specifically for single-article pages
 */
.post .entry-content > p:first-child::first-letter {
  float: left;
  font-size: 61.5888px;
  line-height: 1;
  padding-right: 0.1em;
  padding-top: -0.1em;
  margin-bottom: -0.1em;
}
body {
  background: #fff;
  /*#eee;*/
  font-family: "proxima-nova", Helvetica, Tahoma, Arial, sans-serif;
  font-size: 12px;
  color: #666;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima-nova", Helvetica, Tahoma, Arial, sans-serif;
}
.entry-content a {
  color: #d45f34;
}
a,
.home .entry-content a {
  color: #333;
}
a:hover,
.home .entry-content a:hover {
  color: #d45f34;
}
#main .LegacyThreeColumn .top-story h2 {
  font-size: 32px;
}
#main .home .stories h2.entry-title {
  font-size: 28px;
}
/*
#site-header img {
  position: relative;
  z-index: 0;
  margin: 0;
}
#site-header .header-buttons {
  position: relative;
  float: right;
  margin-top: -115px;
  margin-right: 20px;
  z-index: 1;
}
#site-header .header-buttons a {
  display: block;
  clear: both;
  margin-bottom: 20px;
}
h1.entry-title {
  font-size: 36px;
  font-weight: 700;
}
h2.subtitle {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 12px;
  font-style: italic;
}
.type-pull-quote.align-center {
  margin-left: 0;
  text-align: center;
  padding: 20px 10%;
  max-width: 80%;
  margin-bottom: 24px;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  border-left: 0;
}
.module.type-aside.align-left {
  border-right: 3px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
}
.module.type-aside.align-left {
  max-width: 90%;
}
.module.type-aside h3 {
  font-size: 18px;
}
.module.type-aside p {
  font-size: 12px;
  margin-bottom: 10px;
}
#content-main {
  border: 1px solid #ddd;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
article.post {
  padding: 10px;
  border: 1px solid #efefef;
  margin-bottom: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.before-footer {
  margin: 12px auto 24px;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.before-footer img {
  padding: 5px;
}
.rss-div, .subscribe-div {
  float: left;
}
.rss-subscribe-div {
  position: absolute;
  right: 10px;
  top: 20px;
}
.widget.largo-child-delared h5 {
  font-size: 16px;
}
.widget.largo-child-delared p {
  font-size: 11px;
  margin-top: 8px;
  padding: 0;
}
h6,
.entry-content h5 {
  font-size: 11px;
}
.continue-reading, .continue-reading a {
  float: right;
  color: #D45F34;
}
.continue-reading a:hover {
  color: #F7931E;
}
article img.attachment-post-thumbnail {
  float: left;
  margin: 0px 20px 10px 0px;
}
#menu-footer-navigation li, #supplementary ul.menu li {
  border: 0px;
}
#site-footer .widgettitle, #site-footer li.menu-label {
  border: 0px;
}
.carousel-inner {
  background: #efefef;
}
.largo-child-delared h5 {
  margin: 0px 0px 5px;
}
.archive-background .related-topics ul {
  margin-top: 0;
}
.page-template-page-series-php .item {
  margin-bottom: 24px;
}
.page-template-page-series-php .item h3 {
  margin-bottom: 0;
  font-size: 24px;
}
.en_version_link span {
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 980px) and (max-width: 1170px) {
  #site-header .header-buttons {
    margin-top: -100px;
  }
  #site-header .header-buttons a {
    margin-bottom: 10px;
  }
}
@media (max-width: 979px) {
  #site-header .header-buttons {
    margin-top: -120px;
  }
  #site-header .header-buttons a {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  #site-header .header-buttons {
    margin-right: 0;
    margin-left: 20px;
    float: left;
    margin-top: -45px;
  }
  #site-header .header-buttons a {
    float: left;
    clear: none;
  }
}
@media (max-width: 670px) {
  #site-header .header-buttons {
    margin: 0;
    padding-top: 10px;
    background-color: #F7931E;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .type-pull-quote.align-left {
    margin-left: 0;
    text-align: center;
    padding: 20px 10%;
    max-width: 80%;
    margin-bottom: 24px;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    border-left: 0;
  }
}
*/
