.widgettitle,
.widget.rev .widgettitle,
.stories h3.widgettitle {
  background-color: @orange;
  color: #fff;
  padding: 5px 10px;
  a {
    color: #fff;
  }
}
 
.widget.rev {
  background-color: #333;
}
#sidebar .widget {
  padding: 24px 0;
}